$text-color: #1e1e1e;
$main-color: #3369f3;
$light-color: #ffffff;
$mute-text-color: #999999;
$light-background-color: #fbfbfb;
$avatar-background-color: #efefef;
$bright-color: #ff0000;

$small-border-radius: 8px;
$border-radius: 12px;
