extends ./layout.pug

include ./helpers/formInput
block content
    -
        const user = {
            email: 'email',
            first_name: 'first_name',
            second_name: 'second_name',
            display_name: 'display_name',
            login: 'login',
            phone: 'phone'
        };

    .page
        .page__control
            button.page__button
                img.page__button-icon(src='./images/arrow.svg')
        .page__body

            form.form.page__form.page__form_default(onsubmit='window.savePassword(this); return false;')
                .form__avatar
                    include ./helpers/avatar
                    +avatar('')

                .form__body.list.list_line
                    +formInput({
	                    classes: ['list__item'],
	                    title: 'Старый пароль',
                        type: 'password',
                        name: 'oldPassword'
                    })

                    +formInput({
	                    classes: ['list__item'],
	                    title: 'Новый пароль',
	                    type: 'password',
	                    name: 'newPassword'
                    })

                    +formInput({
	                    classes: ['list__item'],
	                    title: 'Повторите новый пароль',
	                    type: 'password',
	                    name: 'check'
                    })

                .form__footer.form__footer_narrow
                    button.button.button_primary(type='submit') Сохранить

