extends components/layout/layout

include components/input/input
block content
    .page
        .page__sidebar
            .form__block.form__block_line
                a.link.link_gray.link_arrow.form__profile Профиль

                include components/search/search
                +search()
        .page__body

