extends components/layout/layout

include components/input/input
block content
    .page
        .page__body
            h1 Messenger

            ul.list
                li.list__item
                    a.link(href='/login.pug') Страница авторизации
                li.list__item
                    a.link(href='/signin.pug') Страница регистрации
                li.list__item
                    a.link(href='/signin.pug') Страница регистрации
