extends components/layout/layout

include components/input/input
block content
    .page
        .page__body
            form.form.page__form.page__form_popup(onsubmit='window.submitLoginForm(this); return false;')
                .form__body
                    h1.form__title Вход

                    .list
                        +input({
                            classes: [''],
                            label: 'Логин',
                            name: 'login',
                            type: 'text'
                        })

                        +input({
                            classes: ['list__item'],
                            label: 'Пароль',
                            name: 'password',
                            type: 'password'
                    })

                .form__footer.list
                    button.button.button_primary.list__item(type='submit') Авторизоваться
                    a.link.button.list__item(href='/signin.pug') Нет аккаунта?
