extends ./layout.pug

include ./helpers/input
block content
    .page
        form.form.page__form(onsubmit='window.submitLoginForm(this); return false;')
            .form__body
                h1.form__title Вход

                +input({
                    classes: ['form__block', 'form__block_input'],
                    label: 'Логин',
                    name: 'login',
                    type: 'text'
                })

                +input({
                    classes: ['form__block', 'form__block_input'],
                    label: 'Пароль',
                    name: 'password',
                    type: 'password'
                })

            .form__footer
                button.button.button_primary(type='submit') Авторизоваться
                a.button(href='/signin.pug') Нет аккаунта?
