extends ./layout.pug

include ./helpers/input
block content
    .page
        .page__body
            form.form.page__form.page__form_popup(onsubmit='window.submitLoginForm(this); return false;')
                .form__body
                    h1.form__title Регистрация

                    .list
                        +input({
                            classes: ['list__item'],
                            label: 'Почта',
                            name: 'email',
                            type: 'email'
                        })

                        +input({
                            classes: ['list__item'],
                           label: 'Логин',
                           name: 'login',
                           type: 'text'
                       })

                        +input({
                            classes: ['list__item'],
                            label: 'Имя',
                            name: 'first_name',
                            type: 'text'
                        })

                        +input({
                            classes: ['list__item'],
                            label: 'Фамилия',
                            name: 'second_name',
                            type: 'text'
                        })

                        +input({
                            classes: ['list__item'],
                            label: 'Телефон',
                            name: 'phone',
                            type: 'phone'
                        })

                        +input({
                            classes: ['list__item'],
                            label: 'Пароль',
                            name: 'password',
                            type: 'password'
                        })

                        +input({
                            classes: ['list__item'],
                            label: 'Пароль (ещё раз)',
                            name: 'confirm_password',
                            type: 'password'
                        })

                .form__footer.list
                    button.button.button_primary.list__item Зарегистрироваться
                    a.link.button(href='/login.pug') Войти
