@import "./helpers/variables";
@import "./form";
@import "./button";
@import "../components/input/input";
@import "./page";
@import "./error";
@import "../components/avatar/avatar";
@import "../components/formInput/form-input";
@import "./link";
@import "../components/search/search";
@import "./list";

body {
	box-sizing: border-box;
	margin: 0;

	line-height: 1;
	font-family: 'Padauk', sans-serif;
	color: $text-color;
}

a {
	color: $main-color;
	text-decoration: none;

	cursor: pointer;

	&:hover {
		text-decoration: none;
	}
}

h1 {
	margin: 0;

	line-height: 1;
}

button {
	padding: 0;

	background: none;
	border: none;
	cursor: pointer;
}

input {
	border: none;

	&:focus {
		outline: none;
	}
}
